<html>
    <head>
        <title>export excel</title>
    </head>
    <body>

        <a href="{% url 'export-akun' %}">Export Akun</a><br>
        <a href="{% url 'export-bulan' %}">Export Bulan</a><br>
        <a href="{% url 'export-fungsi' %}">Export fungsi</a><br>
        <a href="{% url 'export-program' %}">Export Program</a><br>
        <a href="{% url 'export-giat' %}">Export giat</a><br>
        <a href="{% url 'export-kegiatan' %}">Export Kegiatan</a><br>
        <a href="{% url 'export-kotam' %}">Export Kotam</a><br>
        <a href="{% url 'export-output' %}">Export Output</a><br>
        <a href="{% url 'export-dept' %}">Export Dept</a><br>
        <a href="{% url 'export-satkun' %}">Export Satkun</a><br> 
        <a href="{% url 'export-satkur' %}">Export Satkur</a><br>
        <a href="{% url 'export-subsatkur' %}">Export Subsatkur</a><br>
        <a href="{% url 'export-tingkat' %}">Export Tingkat</a><br>
        <a href="{% url 'export-unit' %}">Export Unit</a><br>
    </body>
</html>